@model ProductoVM
@{
    ViewData["Title"] = "Nuevo Producto";
}

<div class="container-xl">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card bg-white shadow-lg p-4 border-0 my-5 rounded">
                <h1 class="mb-3 text-muted">Nuevo Producto</h1>
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-floating mb-3">
                                <input asp-for="Producto.Codigo" value="" type="number" class="form-control">
                                <label asp-for="Producto.Codigo"></label>
                                <span asp-validation-for="Producto.Codigo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="form-floating mb-3">
                                <input asp-for="Producto.Serial" class="form-control" placeholder="&#8470; Serial">
                                <label asp-for="Producto.Serial"></label>
                                <span asp-validation-for="Producto.Serial" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Producto.Nombre"  type="text" class="form-control" placeholder="Nombre">
                                <label asp-for="Producto.Nombre"></label>
                                <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Producto.Descripcion"  type="text" class="form-control" placeholder="Descripcion">
                                <label asp-for="Producto.Descripcion"></label>
                                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Producto.Precio" type="number" value="" class="form-control" placeholder="$0.00">
                                <label asp-for="Producto.Precio"></label>
                                <span asp-validation-for="Producto.Precio" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Producto.Costo" type="number" value="" class="form-control" placeholder="$0.00">
                                <label asp-for="Producto.Costo"></label>
                                <span asp-validation-for="Producto.Costo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <select asp-for="Producto.CategoriaId" asp-items="@Model.ListaCategoria" class="form-select">
                                    <option selected disabled>Seleccione una Categoria</option>
                                </select>
                                <label asp-for="Producto.Categoria.Nombre"></label>
                                <span asp-validation-for="Producto.CategoriaId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <select asp-for="Producto.MarcaId" asp-items="@Model.ListaMarca" class="form-select">
                                    <option selected disabled>Seleccione una Marca</option>
                                </select>
                                <label asp-for="Producto.Marca.Nombre"></label>
                                <span asp-validation-for="Producto.MarcaId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input name="imagen" id="imagen" multiple type="file" class="form-control">
                                <label for="imagen">Imagen</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <select asp-for="Producto.Estado" class="form-select">
                                    <option selected disabled>Seleccione</option>
                                    <option value="true">Activo</option>
                                    <option value="false">Inactivo</option>
                                </select>
                                <label asp-for="Producto.Estado"></label>
                                <span asp-validation-for="Producto.Estado" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row gap-2 gap-md-0">
                        <div class="col-12 col-md-4">
                            <button onclick="return validarImagen()" class="btn btn-primary w-100">
                                <i class="fa-solid fa-floppy-disk"></i>
                                Guardar
                            </button>
                        </div>
                        <div class="col-12 col-md-4">
                            <a asp-action="Index" class="btn btn-dark w-100">
                                <i class="fa-solid fa-arrow-left"></i>
                                Regresar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml"></partial>

    <script>

        const validarImagen = () => {

            if(document.querySelector("#imagen").value == ""){
              Swal.fire({
              icon:"error",
              title: "Seleccione Una Imagen",
              confirmButtonColor: "#15803d",
              showClass: {
                popup: `
                  animate__animated
                  animate__fadeInUp
                  animate__faster
                `
              },
              hideClass: {
                popup: `
                  animate__animated
                  animate__fadeOutDown
                  animate__faster
                `
              }
        });
                return false
            }
            return true;
        }

    </script>
}

