@model IEnumerable<Marca>
@{
    ViewData["Title"] = "Lista de Marca";
}

<div class="container-xl">
    <div class="card bg-white shadow-lg p-3 border-0 mt-5 rounded">
        <h1 class="text-center">Lista de Marcas</h1>
        <div class="d-flex justify-content-md-end ">
            <a asp-area="Admin" asp-controller="Marca" asp-action="Crear" class="btn btn-primary mb-3">
                <i class="fa-solid fa-plus"></i>
                Nueva Marca
            </a>
        </div>
        @if (Model.Count() > 0)
        {
            <div class="table-responsive">
                <table id="tblDatos" class="table table-hover table-striped w-100">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th class="text-center">Accion</th>
                        </tr>
                    </thead>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-danger border-0">
                No Hay Registro
            </div>
        }
    </div>
</div>

@section Scripts {

    <script src="~/js/marca.js"></script>
}

