@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrarse";
}

<div class="container-xl">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card bg-white shadow-lg">
                <div class="card-header bg-primary bg-gradient">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img class="w-25" src="~/imagenes/logo.png" />
                        <h1 class="text-white">@ViewData["Title"]</h1>
                    </div>
                </div>
                <div class="card-body">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Nombre" class="form-control" autocomplete="on" aria-required="true" placeholder="Nombre" />
                                    <label asp-for="Input.Nombre"></label>
                                    <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Apellido" class="form-control" autocomplete="on" aria-required="true" placeholder="Apellido" />
                                    <label asp-for="Input.Apellido"></label>
                                    <span asp-validation-for="Input.Apellido" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Ciudad" class="form-control" autocomplete="on" aria-required="true" placeholder="Ciudad" />
                                    <label asp-for="Input.Ciudad"></label>
                                    <span asp-validation-for="Input.Ciudad" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Pais" class="form-control" autocomplete="on" aria-required="true" placeholder="Pais" />
                                    <label asp-for="Input.Pais"></label>
                                    <span asp-validation-for="Input.Pais" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.PhoneNumber" id="Telefono" class="form-control" autocomplete="username" aria-required="true" placeholder="Tel:" />
                                    <label asp-for="Input.PhoneNumber"></label>
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Cedula" id="Cedula" class="form-control" autocomplete="on" aria-required="true" placeholder="Cedula" />
                                    <label asp-for="Input.Cedula"></label>
                                    <span asp-validation-for="Input.Cedula" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" type="email" aria-required="true" placeholder="correo@example.com" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Direccion" class="form-control" autocomplete="on" aria-required="true" placeholder="Direccion" />
                            <label asp-for="Input.Direccion"></label>
                            <span asp-validation-for="Input.Direccion" class="text-danger"></span>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button id="registerSubmit" type="submit" class="w-100 btn bg-gradient btn-primary">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            // Máscara genérica internacional
            $("#Telefono").inputmask("(999) 999-9999");
        });
    </script>

    <script>
        $(document).ready(function () {
            // 👉 Máscaras según país:

            // 🇩🇴 República Dominicana (Cédula: 000-0000000-0)
            $("#Cedula").inputmask("999-9999999-9");
        });
    </script>
}
