html {
    font-size: 14px;
    background-color: #f1f5f9;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f1f5f9;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*.card-img-top {
    height: 250px;*/ /* ajusta según tus imágenes */
    /*object-fit: cover;*/ /* recorta y mantiene proporción */
/*}*/

.card {
    display: flex;
    flex-direction: column; /* organiza elementos verticalmente */
}

.card-body {
    flex-grow: 1; /* fuerza a ocupar todo el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* distribuye descripción, precio y botón */
}